@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: poppins;
    font-size: 18px;
    text-transform: capitalize;
}


html {
    scroll-behavior: smooth;
    transition: 1s;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 30px;
    line-height: 1;
}

/* header */
header {
    width: 100%;
    background: url(../img/dawn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00000095;
    background-blend-mode: multiply;
    color: #fff;
}

/* menu */
.menu {
    width: 100%;
    display: flex;
    padding: 1% 0 1% 0;
}

.menubar {
    width: 4.5%;
    float: right;
}

.menubar .menu-button {
    background: #ffffff00;
    width: 100%;
    border: 1px solid #fffbff;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    box-shadow: 0 0 5px #fff;
    display: flex;
    flex-direction: column;
    padding: 6% 1% 20% 1%;
    cursor: pointer;
    display: none;
}


.menubar .menu-button .menu-items {
    width: 60%;
    height: 2px;
    margin: auto;
    background: #fff;
    margin-top: 13.5%;

}

.logo {
    width: 20%;
    float: left;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo a h1 {
    font-weight: 400;
    text-transform: uppercase;
}

.logo a h1 span {
    font-size: 28px;
    font-weight: 100;
    text-transform: uppercase;
}

nav {
    width: 80%;
    float: left;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 1% 2%;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

nav ul li a:hover {
    color: #ed228b;
}

/* banner */
.banner {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 10% 0;
}

.line {
    width: 100px;
    height: 7px;
    margin: auto;
    margin-top: 0.5%;
    background: rgb(236, 0, 98);
    border-radius: 10px;
}

.banner h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
}

.banner h1 {
    font-weight: 400;
    font-size: 60px;
    padding: 5% 0 4% 0;
}

.btn {
    content: '';
    clear: both;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    letter-spacing: 3px;
    background: rgb(236, 0, 98);
    padding: 1% 2%;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.8s ease;

}

.btn:hover {
    background: rgb(236, 0, 181);
    box-shadow: 0 0 10px rgb(23, 138, 246);
    border: 1.5px solid rgba(21, 14, 232, 0.81);

}

/* services */

.upcoming {
    padding: 5% 0 2% 0;
}

.upcoming h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    padding: 0 0 1% 0;
}

.upcoming .line {
    margin-bottom: 5%;
}

.row {
    display: flex;
    justify-content: center;
}

.col-2 {
    width: 50%;
}

.items {
    padding: 0 1%;
    text-align: center;
    box-shadow: 0 0 8px #000;
    border: 10px solid #fff;
    margin: 2% 5%;
    border-radius: 10px;
}

.items img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 6px 8px 10px #0000008c;
}

.items h2 {
    padding: 3% 0 1% 0;
    font-size: 30px;
    font-weight: 600;
    color: #000000d3;

}

.items a {
    text-decoration: none;
    color: rgba(236, 0, 98, 0.619);
    letter-spacing: 2px;
    padding: 2% 0;
    display: block;
}

.items a:hover {
    color: rgb(236, 0, 98);
}

.explore {
    background: url(../img/father.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 255, 0.605);
    background-blend-mode: multiply;
    padding: 10% 0;
    background-position: center;
}

.explore h1 {
    margin-left: 50%;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    padding: 2% 0 1% 0;
}

.explore .line {
    margin-left: 50%;
}

.explore p {
    margin-left: 50%;
    color: #fff;
    padding: 3% 0;
}

.explore a {
    margin-left: 50%;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
}

.explore a:hover {
    color: #7cf4ff;
}

/* gallery */

.gallery {
    padding: 5% 0 2% 0;
}

.col-3 {
    width: 33.33%;
}

.gallery h2 {
    font-size: 30px;
    font-weight: 600;
}

.gallery .line {
    margin-left: 0;
    margin-bottom: 5%;
}

.gallery p {
    text-align: justify;
    padding: 0 10% 0 0;
}

.gallery a {
    display: block;
    padding: 5% 0 1% 0;
    text-decoration: none;
    color: rgb(236, 0, 98);
}

.gallery img {
    box-shadow: 0 0 5px #000;
    object-fit: cover;
}

.small {
    padding: 1% 5%;
    text-align: center;
    margin: auto;
}

.small img {
    object-fit: cover;
    height: 250px;
    border-radius: 10px;
    width: 100%;
}

.big {
    padding: 1% 5%;
    text-align: center;
    margin: auto;
}

.big img {
    object-fit: cover;
    height: 500px;
    border-radius: 10px;
    width: 100%;
}

/* contact */

.contact {
    padding: 5% 0 2% 0;
    margin: 0;
}

.contact h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #000000bd;
    padding: 0 0 1% 0;
}

.contact .line {
    margin-bottom: 5%;
}

.contact .col-2 {
    width: 50%;
    margin: auto;
}

.contact .contact-box label,
.contact-address label,
.contact .contact-box-2 label {
    display: block;
    padding: 0 5%;
    color: #0000009f;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: left;
}

.contact-box-2 label {
    padding: 0 !important;
}

.contact-box-2 {
    padding: 0 0 0 4%;
}


.contact-box,
.contact-address {
    padding: 0 4%;
}

.contact .contact-box input,
.contact-address input,
textarea {
    width: 100%;
    margin: 2% 5%;
    padding: 2% 3%;
    border-radius: 5px;
    border: 2px solid #000000c7;
    box-shadow: 0 0 3px #000;
    outline: none;
}

textarea {
    margin: 0;
    padding: 1% 1%;
    height: 200px;
}

textarea:focus {
    border: 2px solid rgba(0, 0, 255, 0.771);
    transition: all 1s linear;
}

.contact .contact-box input:focus,
.contact-address input:focus {
    border: 2px solid rgb(255, 0, 30);
    box-shadow: 0 0 5px #000;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-property: all;
    -webkit-transition-property: all;
    transition-timing-function: linear;
}

.contact span {
    color: rgba(167, 1, 1, 0.967);
}

.contact .details label {
    display: block;
    color: #0000009f;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 1% 0;
    text-align: left;
}

.contact .btn {
    display: inline-block;
    margin-top: 2%;
}

.form {
    text-align: center;
}

/* subscribe */

.subscribe {
    margin-top: 4%;
}

.subscribe h1 {
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.815);
    padding-bottom: 2%;
    font-size: 40px;
}

.subscribe h2 {
    text-align: center;
    font-weight: 600;
    color: #00000094;
    padding: 2% 0 5% 0;
    font-size: 30px;
}

.login,
.signup {
    box-shadow: 0 0 5px #000;
    padding: 2% 4% 3% 4%;
    border-radius: 20px;
    margin: 3% 0 2% 0;
    width: 100%;
    display: block;
}



.login input[type=text],
.login input[type=password],
.signup input[type=text],
.signup input[type=password],
.signup input[type=email],
.signup input[type=number],
.signup select,
.signup input[type=date] {
    width: 100%;
    margin: 2% 0 1% 0;
    padding: 2%;
    outline: none;
    border: none;
    border-bottom: 1px solid #0000008a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 2px 0px, rgba(0, 0, 0, 0.3) 0px 0 0px 0px;
    border-radius: 5px;
    transition: all 1s ease;
    background: transparent;
}

.signup input[type=date] {
    color: #00000099;
}


.login input[type=text]:focus,
.login input[type=password]:focus,
.signup input[type=text]:focus,
.signup input[type=password]:focus,
.signup input[type=email]:focus,
.signup input[type=number]:focus,
.signup select:focus,
.signup input[type=date]:focus {
    border: 1.3px solid #ca0097;
}

.checked {
    display: flex;
    align-items: center;

}

.login input[type=checkbox],
.signup input[type=checkbox] {
    height: 20px;
    width: 17px;
    margin: 3% 1% 3% 1%;
    background: #fff;
    cursor: pointer;
}

.login input[type=checkbox]:checked,
.signup input[type=checkbox]:checked {
    accent-color: rgb(244, 26, 2);
}

.login .label,
.signup label {
    margin: 2.6% 0;
    color: #00000087;
}


.login .checked a {
    text-decoration: none;
    display: inline;
    margin-left: 50%;
}

.login a:hover {
    text-decoration: underline dashed;
}

select {
    cursor: pointer;
}

#select:hover {
    background: #000;
}



.details-account {
    padding: 0 2%;
}

.subscribe input[type=button] {
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.signup .btn {
    background: #06a216;
    font-weight: 600;
}

/* footer */
footer {
    padding: 5% 0 0 0;
    background: #fd20b715;
    margin-top: 3%;
    width: 100%;
}

footer p {
    text-align: justify;
    padding: 2% 0;
    color: #000000a7;
    font-weight: 600;
}

.message,
#about {
    padding: 0 3%;
}

.message iframe {
    margin-top: 5%;
    border: 10px solid #fff;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
}

footer h2 {
    font-size: 30px;
    color: #000000bc;
}

footer img {
    width: 100%;
    height: 200px;
    opacity: 0.8;
    padding-top: 2%;
    object-fit: cover;
    object-position: center;
}

.signature {
    width: 100%;
    text-align: center;
    padding: 1%;
    background: rgb(115, 1, 49);
    box-shadow: 0 0 5px #000, inset 0 0 5px #0aa1ddbe;
}

.signature h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    font-style: italic;
}

/* scroll-bar */

::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.538);
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #000;
}

::-webkit-scrollbar-thumb {
    background: #e318a9;
    border-radius: 10px;
    border: 1px solid #2c0af1b0;
    box-shadow: 0 0 10px #000;
}

#pre {
    background: #000000 url("../img/load.gif") no-repeat center center;
    background-size: 12%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
}